<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coderhouse</title>
</head>
<body>
    <h1>Django</h1>
    <ul>
        <li>sdfwsewef</li>
        <li>asfagasdga</li>
        <li>asgergerge</li>
    </ul>
    <ol>
        <li><a href="dados/">Dados =></a></li>
        <li><a href="ejercicio1/">Ejercicio1 =></a></li>
        <li><a href="notas/">Notas =></a></li>
        <li><a href="respondiendo_template/">Templates =></a></li>
        <li><a href="cliente/">APP CLIENTE</a></li>
    </ol>
    <footer>Hecho en el año {{ año }} </footer>
</body>
</html>